<!DOCTYPE html>
<html>
    <head>
        <title>Flask: Sending from data to template / Students</title> 
        <meta charset="utf-08"/>
        <meta name="viewport" content="width:device-width intital-scale=1.0"/>
    </head>
    <body>
        <form action="/display" method="POST">
        <label>Name</label><input type="text" name="name" placeholder="Enter name here" id='name'>
        <label>Physics</label><input type="text" name="physics" placeholder="Enter score here" id='physics'>
        <label>Chemistry</label><input type="text" name="chemistry" placeholder="Enter score here" id='chemistry'>
        <label>Math</label><input type="text" name="math" placeholder="Enter score here" id='math'>
        <input type="submit">
        </form>
    </body>
</html>